@model Video

<div class="card shadow mb-4 animated fadeIn">
  <div class="card-body">
    <h5 class="card-title">
      @Model.Titulo
    </h5>
    <div class="mb-2">
      @foreach (var item in Model.VideoTag)
      {
        <a href="#" class="badge badge-secondary">
          @item.Tag.Descripcion
        </a>
      }
    </div>
    <div class="embed-responsive embed-responsive-21by9 mb-2">
      <iframe 
        class="embed-responsive-item" 
        src="@Model.Url" 
        frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
    </div>
    
    <blockquote class="blockquote mb-0">
      <footer class="blockquote-footer">
        @Model.Descripcion
      </footer>
    </blockquote>
    @if(User.IsInRole("Administrador")) {
      <hr />
      <div class="btn-group" role="group">      
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-secondary">Editar</a>
        <button type="button" class="btn btn-sm btn-danger">Borrar</button>
      </div>
    }    
  </div>
</div>